* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #555;
  font-family: "Lexend", sans-serif;
}

.navbar {
  position: relative;
  display: inline-flex;
  --navbar-height: 5rem;
}
@media (min-width: 77.5rem) {
  .navbar {
    --navbar-height: 6.25rem;
  }
}
.navbar .menu-btn {
  width: var(--navbar-height);
  height: var(--navbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E5E5E5;
  transition: background-color 0.45s;
}
.navbar .menu-btn::before, .navbar .menu-btn::after {
  content: "";
  width: 2.5rem;
  height: 0.125rem;
  position: absolute;
  background: #000;
  transition: 0.25s ease-out;
}
.navbar .menu-btn::before {
  transform: translateY(-0.3rem);
}
.navbar .menu-btn::after {
  transform: translateY(0.3rem);
}
.navbar .menu-btn.clicked::before, .navbar .menu-btn.clicked::after {
  transition-timing-function: ease-in;
}
.navbar .menu-btn.clicked::before {
  transform: translateY(0) rotate(45deg);
}
.navbar .menu-btn.clicked::after {
  transform: translateY(0) rotate(-45deg);
}
.navbar .menu-btn:hover {
  background: #fff;
  transition: 0s;
}
.navbar .logo {
  width: 10rem;
  height: --navbar-height;
  display: grid;
  place-items: center;
  background: #fff;
}
@media (min-width: 30rem) {
  .navbar .logo {
    width: 15.625rem;
  }
}
@media (min-width: 77.5rem) {
  .navbar .logo {
    width: 18.75rem;
  }
}
.navbar .logo svg {
  height: 1.25rem;
}
@media (min-width: 30rem) {
  .navbar .logo svg {
    height: 1.5625rem;
  }
}
@media (min-width: 77.5rem) {
  .navbar .logo svg {
    height: 1.875rem;
  }
}
.navbar menu {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  height: 0;
  background: #E5E5E5;
  transition: 0.75s cubic-bezier(0.75, 0, 0.19, 1);
}
.navbar menu ul {
  list-style: none;
  display: flex;
  height: 17.529375rem;
  flex-flow: column;
  justify-content: space-between;
  align-items: start;
  padding: 2.75rem 1.85rem;
}
@media (min-width: 30rem) {
  .navbar menu ul {
    padding: 2.8rem 3.75rem;
  }
}
@media (min-width: 48.625rem) {
  .navbar menu ul {
    padding: 2.6rem 3.75rem;
  }
}
.navbar menu ul li {
  overflow: hidden;
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
@media (min-width: 48.625rem) {
  .navbar menu ul li {
    font-size: 1.875rem;
  }
}
.navbar menu ul li span {
  display: block;
  opacity: 0;
  transform: translateY(-100%);
  transition-delay: 0.75s;
}
.navbar menu ul li span::before {
  transition-delay: 0s;
}
.navbar menu ul li span:hover::before {
  content: "";
  position: absolute;
  bottom: 0.2rem;
  width: 100%;
  height: 0.125rem;
  background: #000;
  transition-delay: 0.2s;
}
@media (min-width: 48.625rem) {
  .navbar menu ul li span:hover::before {
    bottom: 0.3rem;
  }
}
@media (min-width: 48.625rem) {
  .navbar menu ul li span:hover::before {
    height: 0.1875rem;
  }
}
.navbar menu.opened {
  height: 17.529375rem;
}
.navbar menu.opened ul li span {
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s;
  transition-delay: 0.34s;
}

.scroller {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 48.625rem) {
  .scroller {
    bottom: 50%;
    transform: translateY(50%);
  }
}
.scroller .btn {
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  transition: background-color 0.45s;
}
@media (min-width: 77.5rem) {
  .scroller .btn {
    width: 6.25rem;
    height: 6.25rem;
  }
}
.scroller .btn.prev {
  background: #E5E5E5;
}
.scroller .btn.next {
  background: #DBDBDB;
}
.scroller .btn:hover {
  background: #000;
  transition: 0s;
}
.scroller .btn:hover span {
  color: #fff;
  transition: 0s;
}
.scroller .btn span {
  font-size: 1.5625rem;
  font-weight: 700;
  transition: color 0.45s;
}

.slides .slide:nth-child(1) .left {
  position: absolute;
  z-index: -1;
  inset: 0;
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(1) .left {
    inset: 0 60% 0 0;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(1) .left {
    inset: 0 50% 0 0;
  }
}
.slides .slide:nth-child(1) .left .pic-1 {
  position: absolute;
  inset: 0;
  background: url("../images/1_1.webp");
  background-size: cover;
  background-position: center;
}
.slides .slide:nth-child(1) .left .num-cont, .slides .slide:nth-child(1) .left .headline-cont {
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
}
.slides .slide:nth-child(1) .left .num-cont {
  position: absolute;
  top: 50%;
  left: 2.5rem;
  transform: translateY(-50%);
}
.slides .slide:nth-child(1) .left .num-cont .num {
  font-size: 1.375rem;
  line-height: 3.125rem;
}
.slides .slide:nth-child(1) .left .headline-cont {
  position: absolute;
  top: 56%;
  left: 2rem;
}
.slides .slide:nth-child(1) .left .headline-cont .headline {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}
.slides .slide:nth-child(1) .right {
  position: absolute;
  inset: auto 0 0 0;
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(1) .right {
    inset: 0 0 0 40%;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(1) .right {
    inset: 0 0 0 calc(50% + 4rem);
  }
}
.slides .slide:nth-child(1) .right .pic-2-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 580/759;
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(1) .right .pic-2-cont {
    width: 25rem;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(1) .right .pic-2-cont {
    width: 66%;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(1) .right .pic-2-cont {
    max-height: 66%;
  }
}
.slides .slide:nth-child(1) .right .pic-2-cont .pic-2 {
  height: 100%;
  background: url("../images/1_2.webp");
  background-size: cover;
  background-position: center;
}
.slides .slide:nth-child(1) .right .p-cont {
  position: absolute;
  inset: auto 0 0 0;
  height: 10rem;
}
@media (min-width: 30rem) {
  .slides .slide:nth-child(1) .right .p-cont {
    inset: auto 0 0 auto;
  }
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(1) .right .p-cont {
    inset: auto auto 5rem 3.125rem;
  }
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(1) .right .p-cont {
    height: unset;
  }
}
@media (min-width: 30rem) {
  .slides .slide:nth-child(1) .right .p-cont {
    max-width: 28rem;
  }
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(1) .right .p-cont {
    max-width: none;
  }
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(1) .right .p-cont {
    width: 66%;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(1) .right .p-cont {
    width: 50%;
  }
}
.slides .slide:nth-child(1) .right .p-cont p {
  height: 100%;
  background: #fff;
  font-size: 1.125rem;
  line-height: 1.875rem;
  padding: 1.875rem 6.25rem 1.875rem 2.5rem;
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(1) .right .p-cont p {
    font-size: 1.25rem;
  }
}
@media (min-width: 30rem) {
  .slides .slide:nth-child(1) .right .p-cont p {
    padding: 2.1875rem 6.25rem 2.1875rem 2.1875rem;
  }
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(1) .right .p-cont p {
    padding: 2.5rem;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(1) .right .p-cont p {
    padding: 3.125rem;
  }
}/*# sourceMappingURL=index.css.map */