* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #555;
  background: #fff;
  font-family: "Lexend", sans-serif;
}

.navbar {
  position: relative;
  display: inline-flex;
  --navbar-height: 5rem;
}
@media (min-width: 77.5rem) {
  .navbar {
    --navbar-height: 6.25rem;
  }
}
.navbar .menu-btn {
  width: var(--navbar-height);
  height: var(--navbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E5E5E5;
  transition: background-color 0.45s;
}
.navbar .menu-btn::before, .navbar .menu-btn::after {
  content: "";
  width: 2.5rem;
  height: 0.125rem;
  position: absolute;
  background: #000;
  transition: 0.25s ease-out;
}
.navbar .menu-btn::before {
  transform: translateY(-0.3rem);
}
.navbar .menu-btn::after {
  transform: translateY(0.3rem);
}
.navbar .menu-btn.clicked::before, .navbar .menu-btn.clicked::after {
  transition-timing-function: ease-in;
}
.navbar .menu-btn.clicked::before {
  transform: translateY(0) rotate(45deg);
}
.navbar .menu-btn.clicked::after {
  transform: translateY(0) rotate(-45deg);
}
.navbar .menu-btn:hover {
  background: #fff;
  transition: 0s;
}
.navbar .logo {
  width: 10rem;
  height: --navbar-height;
  display: grid;
  place-items: center;
  background: #fff;
}
@media (min-width: 30rem) {
  .navbar .logo {
    width: 15.625rem;
  }
}
@media (min-width: 77.5rem) {
  .navbar .logo {
    width: 18.75rem;
  }
}
.navbar .logo svg {
  height: 1.25rem;
}
@media (min-width: 30rem) {
  .navbar .logo svg {
    height: 1.5625rem;
  }
}
@media (min-width: 77.5rem) {
  .navbar .logo svg {
    height: 1.875rem;
  }
}
.navbar menu {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  height: 0;
  background: #E5E5E5;
  transition: 0.75s cubic-bezier(0.7, 0, 0.35, 1);
}
.navbar menu ul {
  list-style: none;
  display: flex;
  height: 17.529375rem;
  flex-flow: column;
  justify-content: space-between;
  align-items: start;
  padding: 2.75rem 1.85rem;
}
@media (min-width: 30rem) {
  .navbar menu ul {
    padding: 2.8rem 3.75rem;
  }
}
@media (min-width: 48.625rem) {
  .navbar menu ul {
    padding: 2.6rem 3.75rem;
  }
}
.navbar menu ul li {
  overflow: hidden;
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
@media (min-width: 48.625rem) {
  .navbar menu ul li {
    font-size: 1.875rem;
  }
}
.navbar menu ul li span {
  display: block;
  opacity: 0;
  transform: translateY(-100%);
  transition-delay: 0.75s;
}
.navbar menu ul li span::before {
  transition-delay: 0s;
}
.navbar menu ul li span:hover::before {
  content: "";
  position: absolute;
  bottom: 0.2rem;
  width: 100%;
  height: 0.125rem;
  background: #000;
  transition-delay: 0.2s;
}
@media (min-width: 48.625rem) {
  .navbar menu ul li span:hover::before {
    bottom: 0.3rem;
  }
}
@media (min-width: 48.625rem) {
  .navbar menu ul li span:hover::before {
    height: 0.1875rem;
  }
}
.navbar menu.opened {
  height: 17.529375rem;
}
.navbar menu.opened ul li span {
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s;
  transition-delay: 0.34s;
}

.scroller {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 48.625rem) {
  .scroller {
    bottom: 50%;
    transform: translateY(50%);
  }
}
.scroller .btn {
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  transition: background-color 0.45s;
}
@media (min-width: 77.5rem) {
  .scroller .btn {
    width: 6.25rem;
    height: 6.25rem;
  }
}
.scroller .btn.prev {
  background: #E5E5E5;
}
.scroller .btn.next {
  background: #DBDBDB;
}
.scroller .btn:hover {
  background: #000;
  transition: 0s;
}
.scroller .btn:hover span {
  color: #fff;
  transition: 0s;
}
.scroller .btn span {
  font-size: 1.5625rem;
  font-weight: 700;
  transition: color 0.45s;
}

.slides .slide .scroll-cont {
  overflow: hidden;
}
.slides .slide .scroll-element {
  transform: translateY(-101%);
  transition-timing-function: cubic-bezier(0.7, 0, 0.35, 1);
}
.slides .slide:nth-child(1) .left {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  inset: 0;
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(1) .left {
    inset: 0 60% 0 0;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(1) .left {
    inset: 0 50% 0 0;
  }
}
.slides .slide:nth-child(1) .left .pic-cont {
  position: absolute;
  inset: 0;
  background: url("../images/1_1.webp");
  background-size: cover;
  background-position: center;
}
.slides .slide:nth-child(1) .left .pic-cont .num-cont, .slides .slide:nth-child(1) .left .pic-cont .headline-cont {
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
}
.slides .slide:nth-child(1) .left .pic-cont .num-cont {
  position: absolute;
  top: 50%;
  left: 2.5rem;
  transform: translateY(-50%);
}
@media (min-width: 30rem) {
  .slides .slide:nth-child(1) .left .pic-cont .num-cont {
    left: 3.75rem;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(1) .left .pic-cont .num-cont {
    left: 12.5rem;
  }
}
.slides .slide:nth-child(1) .left .pic-cont .num-cont .num {
  font-size: 1.375rem;
  line-height: 3.125rem;
}
@media (min-width: 30rem) {
  .slides .slide:nth-child(1) .left .pic-cont .num-cont .num {
    font-size: 1.875rem;
  }
}
.slides .slide:nth-child(1) .left .pic-cont .headline-cont {
  position: absolute;
  top: 56%;
  left: 2.4rem;
}
@media (min-width: 30rem) {
  .slides .slide:nth-child(1) .left .pic-cont .headline-cont {
    top: 53.5%;
    left: 2.3rem;
  }
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(1) .left .pic-cont .headline-cont {
    top: 74.5%;
    left: 2.85rem;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(1) .left .pic-cont .headline-cont {
    top: 65.5%;
    left: 11.4rem;
  }
}
.slides .slide:nth-child(1) .left .pic-cont .headline-cont .headline {
  font-size: 9.5vw;
  font-weight: 700;
  line-height: 9.5vw;
}
@media (min-width: 30rem) {
  .slides .slide:nth-child(1) .left .pic-cont .headline-cont .headline {
    font-size: 7.5vw;
    line-height: 7.5vw;
  }
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(1) .left .pic-cont .headline-cont .headline {
    font-size: min(5.5vw, 3.75rem);
    line-height: min(5.5vw, 3.75rem);
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(1) .left .pic-cont .headline-cont .headline {
    font-size: min(5.2vw, 5.5625rem);
    line-height: min(5vw, 5rem);
  }
}
.slides .slide:nth-child(1) .right {
  position: absolute;
  inset: auto 0 0 0;
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(1) .right {
    inset: 0 0 0 40%;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(1) .right {
    inset: 0 0 0 calc(50% + 4rem);
  }
}
.slides .slide:nth-child(1) .right .pic-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 580/759;
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(1) .right .pic-cont {
    width: 25rem;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(1) .right .pic-cont {
    aspect-ratio: unset;
    width: 66%;
    height: 66%;
  }
}
.slides .slide:nth-child(1) .right .pic-cont .pic {
  height: 100%;
  background: url("../images/1_2.webp");
  background-size: cover;
  background-position: center;
}
.slides .slide:nth-child(1) .right .p-cont {
  position: absolute;
  inset: auto 0 0 0;
  height: 10rem;
}
@media (min-width: 30rem) {
  .slides .slide:nth-child(1) .right .p-cont {
    inset: auto 0 0 auto;
    max-width: 28rem;
  }
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(1) .right .p-cont {
    inset: auto auto 5rem 3.125rem;
    inset: auto auto 11.3vh 3.125rem;
    height: unset;
    max-width: none;
    width: 66%;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(1) .right .p-cont {
    width: 50%;
  }
}
.slides .slide:nth-child(1) .right .p-cont p {
  height: 100%;
  background: #fff;
  font-size: 1.125rem;
  line-height: 1.875rem;
  padding: 1.875rem 6.25rem 1.875rem 2.5rem;
}
@media (min-width: 30rem) {
  .slides .slide:nth-child(1) .right .p-cont p {
    padding: 2.1875rem 6.25rem 2.1875rem 2.1875rem;
  }
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(1) .right .p-cont p {
    padding: 2.5rem;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(1) .right .p-cont p {
    font-size: 1.25rem;
    padding: 3.125rem;
  }
}
.slides .slide:nth-child(2) .left {
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  width: 66.7%;
  height: 62%;
}
@media (min-width: 30rem) {
  .slides .slide:nth-child(2) .left {
    height: 50%;
  }
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(2) .left {
    display: grid;
    place-items: center;
    right: unset;
    width: 40%;
    height: 100%;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(2) .left {
    width: 50%;
  }
}
.slides .slide:nth-child(2) .left .pic-cont {
  position: absolute;
  height: 80%;
  top: 0;
  right: 0;
  left: 0;
}
@media (min-width: 30rem) {
  .slides .slide:nth-child(2) .left .pic-cont {
    top: calc(2.3125rem + (100vw - 30rem) / 24.75);
    right: calc(2.3125rem + (100vw - 30rem) / 24.75);
    left: calc(4.1875rem + (100vw - 30rem) / 5.4);
  }
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(2) .left .pic-cont {
    aspect-ratio: 192383/390152;
    inset: 50% 0 0 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60.9137055838%;
    height: unset;
    max-height: 66.7%;
  }
}
.slides .slide:nth-child(2) .left .pic-cont .pic {
  width: 100%;
  height: 100%;
  background: url("../images/2_1.webp");
  background-size: cover;
  background-position: center;
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(2) .left .pic-cont .pic {
    aspect-ratio: 192383/390152;
    width: unset;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(2) .left .pic-cont .pic {
    width: 100%;
  }
}
.slides .slide:nth-child(2) .center {
  font-family: "Space Grotesk", sans-serif;
}
.slides .slide:nth-child(2) .center .headline-cont {
  position: absolute;
  z-index: -2;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 40.375rem) {
  .slides .slide:nth-child(2) .center .headline-cont {
    left: calc((100vw - 40.375rem) / 2);
  }
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(2) .center .headline-cont {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.slides .slide:nth-child(2) .center .headline-cont .headline {
  display: inline-block;
  white-space: nowrap;
  font-size: 8.4507042254vw;
  font-weight: 700;
  line-height: 8.4507042254vw;
  background: #fff;
  padding: 6.338028169vw;
  padding-left: 8.4507042254vw;
}
@media (min-width: 30rem) {
  .slides .slide:nth-child(2) .center .headline-cont .headline {
    font-size: min(5.8333333333vw, 2.3125rem);
    line-height: min(5.8333333333vw, 2.3125rem);
    letter-spacing: -0.0625rem;
    padding: min(5.2083333333vw, 2.0625rem) min(7.7083333333vw, 3.125rem);
  }
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(2) .center .headline-cont .headline {
    letter-spacing: -0.125rem;
    font-size: min(2.875rem + (100vw - 48.5625rem) / 17, 3.75rem);
    line-height: min(2.875rem + (100vw - 48.5625rem) / 17, 3.75rem);
    padding: min(1.875rem + (100vw - 48.5625rem) / 17, 2.5rem) min(2.375rem + (100vw - 48.5625rem) / 17, 3.125rem);
  }
}
.slides .slide:nth-child(2) .right {
  position: absolute;
  z-index: -2;
  bottom: 0;
  left: 0;
  width: 66.7%;
  height: 62%;
}
@media (min-width: 30rem) {
  .slides .slide:nth-child(2) .right {
    height: 50%;
  }
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(2) .right {
    display: grid;
    place-items: center;
    left: unset;
    right: 0;
    width: 60%;
    height: 100%;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(2) .right {
    width: 50%;
  }
}
.slides .slide:nth-child(2) .right .pic-cont {
  position: absolute;
  height: 80%;
  bottom: 0;
  right: 0;
  left: 0;
}
@media (min-width: 30rem) {
  .slides .slide:nth-child(2) .right .pic-cont {
    bottom: calc(2.3125rem + (100vw - 30rem) / 24.75);
    left: calc(2.3125rem + (100vw - 30rem) / 24.75);
    right: calc(4.1875rem + (100vw - 30rem) / 5.4);
  }
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(2) .right .pic-cont {
    aspect-ratio: 192383/390152;
    inset: 50% 0 0 50%;
    transform: translate(-30%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40.7407407407%;
    height: unset;
    max-height: 66.7%;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(2) .right .pic-cont {
    transform: translate(-50%, -50%);
    width: 60.9137055838%;
  }
}
.slides .slide:nth-child(2) .right .pic-cont .pic {
  width: 100%;
  height: 100%;
  background: url("../images/2_2.webp");
  background-size: cover;
  background-position: center;
}
@media (min-width: 48.625rem) {
  .slides .slide:nth-child(2) .right .pic-cont .pic {
    aspect-ratio: 192383/390152;
    width: unset;
  }
}
@media (min-width: 77.5rem) {
  .slides .slide:nth-child(2) .right .pic-cont .pic {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */