*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: #555; ////
  font-family: "Lexend", sans-serif;
}

@import "./ui/variables";
@import "./components/navbar";
@import "./components/scroller";
@import "./components/slides";