.slides{
  .slide{
    .scroll-cont{ overflow: hidden; }
    .scroll-element{
      transform: translateY(-101%);
      transition-timing-function: $transition-time-function;
    }

    &:nth-child(1){
      .left{
        overflow: hidden;
        position: absolute;
        inset: 0;
        @media (min-width: 48.625rem){
          inset: 0 60% 0 0;
        }
        @media (min-width: 77.5rem){
          inset: 0 50% 0 0;
        }
        .pic-cont{
          position: absolute;
          inset: 0;
          background: url("../images/1_1.webp");
          background-size: cover;
          background-position: center;
          .num-cont, .headline-cont{
            font-family: "Space Grotesk", sans-serif;
            color: #fff;
          }
          .num-cont{
            position: absolute;
            top: 50%;
            left: 2.5rem;
            transform: translateY(-50%);
            @media (min-width: 30rem){
              left: 3.75rem;
            }
            @media (min-width: 77.5rem){
              left: 12.5rem;
            }
            .num{
              font-size: 1.375rem;
              line-height: 3.125rem;
              @media (min-width: 30rem){
                font-size: 1.875rem;
              }
            }
          }
          .headline-cont{
            position: absolute;
            top: 56%;
            left: 2.4rem;
            @media (min-width: 30rem){
              top: 53.5%;
              left: 2.3rem;
            }
            @media (min-width: 48.625rem){
              top: 74.5%;
              left: 2.85rem;
            }
            @media (min-width: 77.5rem){
              top: 65.5%;
              left: 11.4rem;
            }
            .headline{
              font-size: 9.5vw;
              font-weight: 700;
              line-height: 9.5vw;
              @media (min-width: 30rem){
                font-size: 7.5vw;
                line-height: 7.5vw;
              }
              @media (min-width: 48.625rem){
                font-size: min(5.5vw, 3.75rem);
                line-height: min(5.5vw, 3.75rem);
              }
              @media (min-width: 77.5rem){
                font-size: min(5.2vw, 5.5625rem);
                line-height: min(5vw, 5rem);
              }
            }
          }
        }
      }
      .right{
        position: absolute;
        inset: auto 0 0 0;
        @media (min-width: 48.625rem){
          inset: 0 0 0 40%;
        }
        @media (min-width: 77.5rem){
          inset: 0 0 0 calc(50% + 4rem);
        }
        .pic-cont{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          aspect-ratio: 304/385;
          @media (min-width: 48.625rem){
            width: 65.3%;
            max-width: 25rem;
            max-height: 31.6875rem;
          }
          @media (min-width: 77.5rem){
            aspect-ratio: unset;
            width: 66%;
            height: 66%;
            max-width: unset;
            max-height: unset;
          }
          .pic{
            height: 100%;
            background: url("../images/1_2.webp");
            background-size: cover;
            background-position: center;
          }
        }
        .p-cont{
          position: absolute;
          inset: auto 0 0 0;
          height: 10rem;
          @media (min-width: 30rem){
            inset: auto 0 0 auto;
            max-width: 28rem;
          }
          @media (min-width: 48.625rem){
            inset: auto auto 5rem 3.125rem;
            inset: auto auto 11.3vh 3.125rem;
            height: unset;
            max-width: none;
            width: 66%;
          }
          @media (min-width: 77.5rem){
            width: 50%;
          }
          p{
            height: 100%;
            background: #fff;
            font-size: 1.125rem;
            line-height: 1.875rem;
            padding: 1.875rem 6.25rem 1.875rem 2.5rem;
            @media (min-width: 30rem){
              padding: 2.1875rem 6.25rem 2.1875rem 2.1875rem;
            }
            @media (min-width: 48.625rem){
              padding: 2.5rem;
            }
            @media (min-width: 77.5rem){
              font-size: 1.25rem;
              padding: 3.125rem;
            }
          }
        }
      }
    }

    &:nth-child(2){
      .left{
        position: absolute;
        top: 0;
        right: 0;
        width: 66.7%;
        height: 62%;
        @media (min-width: 30rem){
          height: 50%;
        }
        @media (min-width: 48.625rem){
          display: grid;
          place-items: center;
          right: unset;
          width: 40%;
          height: 100%;
        }
        @media (min-width: 77.5rem){
          width: 50%;
        }
        .pic-cont{
          position: absolute;
          height: 80%;
          top: 0;
          right: 0;
          left: 0;
          @media (min-width: 30rem){
            top: calc(2.3125rem + ((100vw - 30rem) / 24.75));
            right: calc(2.3125rem + ((100vw - 30rem) / 24.75));
            left: calc(4.1875rem + ((100vw - 30rem) / 5.4));
          }
          @media (min-width: 48.625rem){
            aspect-ratio: 192383/390152;
            inset: 50% 0 0 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60.9137055838%;
            height: unset;
            max-height: 66.7%;
          }
          .pic{
            width: 100%;
            height: 100%;
            background: url("../images/2_1.webp");
            background-size: cover;
            background-position: center;
            @media (min-width: 48.625rem){
              aspect-ratio: 192383/390152;
              width: unset;
            }
            @media (min-width: 77.5rem){
              width: 100%;
            }
          }
        }
      }
      .center{
        font-family: "Space Grotesk", sans-serif;
        .num-cont{
          .num{}
        }
        .headline-cont{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          @media (min-width: 40.375rem){
            left: calc((100vw - 40.375rem) / 1.5);
          }
          @media (min-width: 48.625rem){
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .headline{
            display: inline-block;
            white-space: nowrap;
            font-size: 8.4507042254vw;
            font-weight: 700;
            line-height: 8.4507042254vw;
            background: #fff;
            padding: 6.338028169vw;
            padding-left: 8.4507042254vw;
            @media (min-width: 30rem){
              font-size: min(5.8333333333vw, 2.0625rem);
              line-height: min(5.8333333333vw, 2.0625rem);
              letter-spacing: -0.0625rem;
              padding: min(5.2083333333vw, 2.0625rem) min(7.7083333333vw, 3.125rem);
            }
            @media (min-width: 48.625rem){
              letter-spacing: -0.125rem;
              font-size: min(calc(2.875rem + ((100vw - 48.5625rem) / 17)), 3.75rem);
              line-height: min(calc(2.875rem + ((100vw - 48.5625rem) / 17)), 3.75rem);
              padding: min(calc(1.875rem + ((100vw - 48.5625rem) / 17)), 2.5rem) min(calc(2.375rem + ((100vw - 48.5625rem) / 17)), 3.125rem);
            }
            @media (min-width: 77.5rem){
              font-size: 5.625rem;
              line-height: 5rem;
              padding: 3.125rem 3.75rem;
            }
          }
        }
        .p-cont{
          position: absolute;
          top: 50%;
          left: 50%;
          @media (min-width: 30rem){
            transform: translate(calc(2.75rem + ((100vw - 30rem) / 32)), calc(3.3rem + ((100vw - 30rem) / 20)));
          }
          .p{
            display: none;
            @media (min-width: 30rem){
              display: block;
              width: 9.4rem;
              font-family: "Lexend", sans-serif;
              font-size: min(calc(0.6875rem + ((100vw - 30rem) / 20)), 0.8125rem);
              line-height: min(calc(1.1875rem + ((100vw - 30rem) / 26)), 1.375rem);
            }
            @media (min-width: 48.625rem){
              
            }
          }
        }
      }
      .right{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 66.7%;
        height: 62%;
        @media (min-width: 30rem){
          height: 50%;
        }
        @media (min-width: 48.625rem){
          display: grid;
          place-items: center;
          left: unset;
          right: 0;
          width: 60%;
          height: 100%;
        }
        @media (min-width: 77.5rem){
          width: 50%;
        }
        .pic-cont{
          position: absolute;
          height: 80%;
          bottom: 0;
          right: 0;
          left: 0;
          @media (min-width: 30rem){
            bottom: calc(2.3125rem + ((100vw - 30rem) / 24.75));
            left: calc(2.3125rem + ((100vw - 30rem) / 24.75));
            right: calc(4.1875rem + ((100vw - 30rem) / 5.4));
          }
          @media (min-width: 48.625rem){
            aspect-ratio: 192383/390152;
            inset: 50% 0 0 50%;
            transform: translate(-30%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40.7407407407%;
            height: unset;
            max-height: 66.7%;
          }
          @media (min-width: 77.5rem){
            transform: translate(-50%, -50%);
            width: 60.9137055838%;
          }
          .pic{
            width: 100%;
            height: 100%;
            background: url("../images/2_2.webp");
            background-size: cover;
            background-position: center;
            @media (min-width: 48.625rem){
              aspect-ratio: 192383/390152;
              width: unset;
            }
            @media (min-width: 77.5rem){
              width: 100%;
            }
          }
        }
      }
    }
  }
}